body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #fafafa;
    color: #222;
    text-align: center;
}

#imagen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.titulo h2 {
    font-size: 2.2em;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.8);
}

.titulo h1 {
    /* Cambiando el color para reflejar una temática de mascotas, si es necesario */
    font-size: 3em;
    color: rgb(0, 150, 255); /* Azul veterinario */
    margin: 0;
}

.titulo hr {
    width: 80%;
    border: 2px solid #0096FF; /* Color de línea más profesional */
    margin: 20px auto;
}

.galeria table {
    margin: 0 auto;
    border-spacing: 15px;
}

.galeria img {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.galeria img:hover {
    transform: scale(1.05);
}

.botones {
    text-align: center;
    padding: 30px;
}

.botones button {
    background-color: #007bff; /* Azul principal (ajustado de verde) */
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.botones button:hover {
    background-color: #0056b3; /* Azul más oscuro para hover */
}