body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f8fcfb; /* Fondo muy claro y limpio */
    color: #333;
}

/* Imagen principal */
#imagen {
    position: relative;
    text-align: center;
}

#imagen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#imagen p {
    position: absolute;
    /* Centrado Vertical y Horizontal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    /* Estilos de Texto Mejorados */
    color: #FFFFFF; /* Blanco puro para m치ximo contraste */
    font-size: 50px;
    font-weight: 800; /* M치s grosor */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9), 0 0 5px rgba(0, 0, 0, 0.7); /* Sombra intensa */
    padding: 10px 20px;
    line-height: 1.2;
}

/* Secci칩n de servicios */
.Contactanos h1 {
    color: #007BFF; /* Azul profesional */
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

hr {
    border: none;
    border-top: 4px solid #00C853; /* Verde vibrante */
    width: 80%;
    margin-bottom: 30px;
}

.Contactanos img {
    float: right;
    margin: 20px;
    border-radius: 15px; /* Bordes m치s redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none; /* Quitamos los bullets */
    font-size: 20px;
    margin-left: 50px;
    text-align: left;
    color: #1a1a1a;
    padding: 0;
}

ul li {
    margin: 15px 0;
    padding-left: 20px;
    position: relative;
    padding-left: 30px;
}

ul li::before {
    content: '游'; /* Huella de perro como bullet */
    position: absolute;
    left: 0;
    color: #00C853;
    font-size: 1.2em;
}


.menu-btn {
    text-align: center;
    padding: 40px 0;
    background-color: #e9f5ff; /* Fondo sutil para la secci칩n de botones */
    border-top: 1px solid #ddd;
}

.menu-btn button {
    background-color: #007bff; /* Azul principal */
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Sombra suave */
    text-transform: capitalize;
}

.menu-btn button:hover {
    background-color: #0056b3; /* Ajustado para consistencia con el azul */
    transform: translateY(-3px); /* Efecto de levantamiento */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 900px) {
    .Contactanos img {
        float: none;
        display: block;
        margin: 20px auto;
        width: 90%;
        height: auto;
    }

    ul {
        text-align: left;
        margin-left: 0;
        padding: 0 20px;
    }

    .menu-btn button {
        display: block;
        width: 80%;
        margin: 15px auto;
    }

    #imagen p {
        font-size: 30px; /* Reducir el tama침o de fuente en m칩viles */
    }
}